/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */

/* 
If you want to add partials, use Sass Modules via @use:
@use 'variables';

Usage: partial-name.variable/mixin/function-name:
background: variables.$primary-color;
*/

@use 'reset';
@use 'variables';
@use 'mixins';

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: rgb(230, 171, 12);
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Poppins', sans-serif;

	

}

.logo{
	flex-direction: column;
	display: flex;
	align-items: center;

	// animation: logo-banana 3s ease-out 1s;
	
	// @keyframes logo-banana{

	// 	0% {
	// 		transform: translateY(-400%);
	// 		opacity: 0;
	// 	}

	// 	100% {
	// 		transform: translateY(0);
	// 		opacity: 0.5;
	// 	}
	// }

	.fruit{
		height: 4.5rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.title{
		font-size: 3rem;
		margin-top: 1rem;
		margin-bottom: 2rem;

		@include mixins.bp-large{
			margin-bottom: 3rem;
		}

	}

}

.nav-wrap{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;

	.toggler{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		cursor: pointer;
		height: 50px;
		width: 50px;
		opacity: 0;
	}

	.hamburger{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		height: 60px;
		width: 60px;
		padding: 1rem;
		background-color: rgb(230, 171, 12);
		opacity: 0.9;
		display: flex;
		align-items: center;
		justify-content: center;

		transition: transform 350ms ease-in;

		

		
	}

	.hamburger > div{
		position: relative;
		height: 2px;
		width: 100%;
		background-color: variables.$white;
		display: flex;
		align-items: center;
		justify-content: center;

		transition: transform 350ms ease-in;
	}

	.hamburger > div::before,
	.hamburger > div::after{
		content: '';
		position: absolute;
		z-index: 1;
		top: -10px;
		height: 2px;
		width: 100%;
		background-color: variables.$white;
	}
	
	.hamburger > div::after{
		top: 10px;
	}

	.toggler:checked + .hamburger > div{
		transform: rotate(135deg);
	}

	.toggler:checked + .hamburger > div::before,
	.toggler:checked + .hamburger > div::after{
		top: 0;
		transform: rotate(90deg);
	}

	.toggler:checked:hover + .hamburger > div{
		transform: rotate(225deg);
	}

	.toggler:checked ~ .menu{
		visibility: visible;
	}

	.toggler:checked ~ .menu > div{
		transform: scale(1);
		transition-duration: 350ms;
	}

	.toggler:checked ~ .menu > div > div{
		opacity: 1;
		transition: opacity 350ms ease-in;
	}

	.menu{
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		visibility: hidden;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.menu > div{
		background-color: variables.$bdtransparent;
		border-radius: 50%;
		height: 200vw;
		width: 200vw;
		display: flex;
		flex: none;
		align-items: center;
		justify-content: center;
		transform: scale(0);
		transition: transform 350ms ease-in;
	}

	.menu > div > div{
		text-align: center;
		max-height: 90vh;
		max-width: 100vw;
		opacity: 0;
		transition: opacity 350ms ease-in;
	}

	.menu > div > div > ul > li{
		list-style: none;
		color: variables.$white;
		font-size: 1.5rem;
		padding: 1rem;
	}

	.menu > div > div > ul > li > a{
		color: variables.$orange;
		text-decoration: none;
		transition: color 350ms ease-in;
	}
}

.pricing-plan{
	justify-content: center;
	align-items: stretch;
	

	@include mixins.bp-large{
		display: flex;
		width: 100%;
		margin: 1rem;
	}

	.price-column{
		font-size: 1.3rem;
		background-color: variables.$white;
		box-shadow: 0 7px 30px rgba(52, 31, 97, 0.1);
		padding: 5rem;
		flex-grow: 1;
		flex-basis: 0;
		max-width: 275px;
		border-radius: 8px;
		
		transition: 500ms;

		@include mixins.bp-large{
			padding: 3rem;
		}

		.price-header{
			display: flex;
			flex-direction: column;
			align-items: center;
			font-family: 'Poppins', sans-serif;

			.price{
				display: flex;
				font-size: 3.5rem;

				.dollar{
					font-size: 1.5rem;
					margin-top: .5rem;
					margin-right: .25rem;
				}

				.per-month{
					font-size: .75rem;
					align-self: flex-end;
					margin-bottom: 1.1rem;
				}

			}

			.plan-name{
				font-size: .9rem;
				margin-top: 1rem;
				margin-bottom: 0;
			}

		}

		.divider{
			height: 1px;
			width: 100%;
			background-color: variables.$btransparent;
			margin-top: 2rem;
			margin-bottom: 2rem;
		}

		.features{
			display: flex;
			align-items: center;
			font-size: 1rem;
			padding-bottom: 1rem;
			margin: .4rem;
			font-family: 'Poppins', sans-serif;
		}

		.features img{
			height: 1em;
			width: 1em;
			margin-right: .5rem;
		}

		.features.inactive{
			color: variables.$grey;
			text-decoration-line: line-through;
		}

		.button{
			font-size: .7rem;
			font-weight: 700;
			border: none;
			background-color: variables.$babyblue;
			color: variables.$white;
			width: 100%;
			padding: .75rem 1rem;
			cursor: pointer;
			font-family: 'Poppins', sans-serif;
			border-radius: 5px;
			margin-top: 3rem;

			transition: 100ms;
		}

		.button:hover{
			transform: scale(1.1);
		}

	}

	.price-column:hover{
		transform: scale(1.1);
	}

	.price-column:first-child{
		
		@include mixins.bp-large{
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

	}

	.price-column:last-child{

		@include mixins.bp-large{
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

	}

	.price-column.recommended{
		position: relative;
		background-color: variables.$blue;
		color: variables.$white;
		box-shadow: 0 7px 30px rgba(52, 31, 97, 0.3);

		@include mixins.bp-large{
			margin-top: -2.5rem;
			padding-top: 4.5rem;
			margin-bottom: -2.5rem;
			padding-bottom: 4.5rem;
		}

		.most-popular{
			position: absolute;
			top: 1.5rem;
			left: .5rem;
			right: .5rem;
			text-align: center;
			font-family: 'Poppins', sans-serif;
		}

	}

	.price-column.recommended .divider{
		background-color: variables.$transparent;
	}

	.price-column.recommended .button{
		background-color: variables.$orange;
		color: black;
	}
	
}



